<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ComponentInputModeDict</key>
	<dict>
		<key>tsInputModeListKey</key>
		<dict>
			<key>com.apple.inputmethod.Japanese</key>
			<dict>
				<key>TISIntendedLanguage</key>
				<string>ja</string>
				<key>tsInputModeAlternateMenuIconFileKey</key>
				<string>ja.svg</string>
				<key>tsInputModeMenuIconFileKey</key>
				<string>ja.svg</string>
			</dict>
		</dict>
	</dict>
	<key>InputMethodConnectionName</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)_Connection</string>
	<key>InputMethodServerControllerClass</key>
	<string>$(PRODUCT_MODULE_NAME).KotoInputController</string>
	<key>TISIntendedLanguage</key>
	<string>ja</string>
</dict>
</plist>
